.vs
Debug/
Practica01/Debug/
Practica01/x64/
Practica02/Debug/
Practica02/x64/
Practica03/Debug/
Practica03/x64/
Practica04/Debug/
Practica04/x64/
Practica05/Debug/
Practica05/x64/
Practica06/Debug/
Practica06/x64/
Practica07/Debug/
Practica07/x64/
Practica08/Debug/
Practica08/x64/
Practica09/Debug/
Practica09/x64/
Practica17/Debug/
Practica17/x64/

